[core]
  quotepath = false
  preloadindex = true
  fscache = true
  autocrlf = false
  editor = vim

[color]
  diff = auto
  status = auto
  branch = auto

[commit]
  template = ~/.config/git/.gitmessage

[gc]
  auto = 256

[pull]
  rebase = false

[init]
  defaultBranch = main

[credential]
  helper = manager-core

[merge]
  tool = vimdiff

[mergetool]
  prompt = false

[include]
  path = ~/.config/git/conf.d/user.conf
  path = ~/.config/git/conf.d/alias.conf
  path = ~/.config/git/conf.d/delta.conf
