[core]
  quotepath = false
  preloadindex = true
  fscache = true
  autocrlf = false
[color]
  diff = auto
  status = auto
  branch = auto
[alias]
  i = init

  st = status

  a = add
  aa = add .

  c = commit
  cm = commit -m

  pu = push

  pl = pull

  b = branch

  co = checkout
  cob = checkout -b

  m = merge

  f = fetch

  d = difftool

  l = log
  la = log --name-status 
  ls = log --oneline
  lg = log --graph
[gc]
  auto = 256
[pull]
  rebase = false
[init]
  defaultBranch = main
[credential]
  helper = manager-core
[diff]
  tool = vimdiff
[difftool]
  prompt = false
[merge]
  tool = vimdiff
[mergetool]
  prompt = false
